.#{$select-prefix}-mask {
  width:100%;
  height:100%;
  background:rgba(52,52,52,0);
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 0.5s ease-in ;
  z-index:-1;

  &.in {
    background:rgba(52,52,52,0.5);
    z-index:1;

    .#{$select-prefix}-container {
      transform:scale(1,1);
    }
  }
}

.#{$select-prefix}-container {
  width:90%;
  height:rem-calc(300);
  background-color:$white;
  overflow-y: scroll;
  overflow-x: hidden;
  transition:all 0.3s ease-in;
  transform:scale(0,0);
}

.#{$select-prefix}-list {
  padding:0;
  margin:0;
  list-style: none;

  &>li {
    width:100%;
    height:rem-calc(60);
    padding-left:rem-calc(20);
    line-height:rem-calc(60);
    font-size:rem-calc(14);
    color:$C5;
    border-bottom:1px solid $separation-line-color;

    &:last-child {
      border:none;
    }
  }
}