table {
  width:100%;
  border-collapse: collapse;
  border:none;

  tbody {
    tr {
      border-top:1px solid $separation-line-color;

      td {
        padding:rem-calc(10) $global-spacing;

        &:first-child {
          padding-right:0;
          vertical-align:top;
        }
      }
    }
  }
}