// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#assignmentDebtSuccess {
  .icon-success-green {
    display:block;
    width:rem-calc(50);
    height:rem-calc(50);
    margin:rem-calc(20) auto 0;
    background-image: url("../../img/icon_success.png");
    background-size: cover;
  }

  .title {
    margin-top:rem-calc(20);
    text-align:center;
    @include color-and-fontSize($C3,$T4);
  }

  .subtitle {
    margin-top:rem-calc(5);
    margin-bottom:rem-calc(20);
    text-align:center;
    @include color-and-fontSize($C4,$T7);
  }

  strong {
    color:$C1;
  }

  .creditorLoan-summary {
    margin-top:rem-calc(20);
    margin-bottom:rem-calc(-15);
    padding:0 rem-calc(15);

    .row {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:rem-calc(5) 0;
      border-bottom:1px dashed $separation-line-color;

      &:last-child {
        border:none;
      }

      .label {
        margin:0;
        @include color-and-fontSize($C3,$T6);
      }

      .number {
        margin:0;
        @include color-and-fontSize($C4,$T6);
      }
    }
  }
}