// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#assignmentOfDebt {
   .warnHint-section {
     padding:rem-calc(15);

      h6 {
        margin-bottom:rem-calc(5);
        font-weight: normal;
        @include color-and-fontSize($C4,$T6);
      }

      p {
        margin:rem-calc(3) 0;
        @include color-and-fontSize($C4,$T8);
      }

   }
}