// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#bankCard {
  .bankCard {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bankCard-logo {
    width:rem-calc(40);
    height:rem-calc(40);
    margin-right:rem-calc(15);

    img {
      width:100%;
      height:auto;
    }
  }

  .bankCard-body {
    .title {
      @include color-and-fontSize($C3,$T5);
    }

    .subtitle {
      @include color-and-fontSize($C4,$T8);
    }
  }
}