// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#bankCard {
  .bankCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bankCard-logo {
    display: flex;
    align-items: center;

    .imgIcon-my-bankCard2 {
      margin-right: rem-calc(5);
      @include size(rem-calc(30), rem-calc(30));
    }
  }

  .bankCard-body {
    .title {
      @include color-and-fontSize($C3, $T5);
    }

    .subtitle {
      @include color-and-fontSize($C4, $T8);
    }
  }
}
