// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";
#bannerPageWrapper {
  background:#fff;

  &.frame-wrapper {
    width:100%;
    max-width:100%;
    height:100%;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    iframe {
      width:100%;
      height:100%;
      max-width:100%;
      border:none;
    }
  }
}
