// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

.checkLoanDetail {
  display:flex;
  justify-content:center;
  align-items:center;
  padding-bottom:rem-calc(20);
  color:#999;
  font-size:14px;
  text-align:center;

  .imgIcon-slide-up {
    display:inline-block;
    width:rem-calc(20);
    height:rem-calc(20);
  }
}