// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";
#creditorLoanInvestmentRecord {
  .navbar {
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:101;
  }
  .tabs {
    padding-top:rem-calc(50);

    .tabs-nav {
      position:fixed;
      top:40px;
      left:0;
      z-index:999;
    }
  }

  /*
  * 让步解决ios手机下面fixed的兼容问题
  */
  .isIOS & .tabs {
    padding-top:0;

    .tabs-nav {
      position:relative;
      left:0;
      top:0;
    }
  }
}




