// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

.default-container {
    width:100%;
    height:100%;
    padding:rem-calc(60) rem-calc(26) 0;
    background: url("../../img/login_bg.png") 0 0 no-repeat;
    background-size:cover;
    position:relative;
}
.ntLogo-wrapper {
    width:rem-calc(184);
    height:rem-calc(53);
    margin:0 auto;
    background-size:cover;
    background-image:url("../../img/login_logo.png");
}
.slogan-text {
    margin-top:rem-calc(5);
    @include color-and-fontSize($C1,$T10);
}
#login-form,#register-form {
    margin-top:rem-calc(40);
    margin-bottom:rem-calc(10);
    padding: 0;
    background:transparent;

    & > li {
        padding:0;
    }
    .item-input input {
        padding:rem-calc(21) 0;
        background:transparent;
    }
}
#register-form {
    & > li {
        border-top:none;
    }
}
.btn-wrapper {
    margin-top:rem-calc(30);
}
.default-footer {
    width:100%;
    text-align: center;
    margin-top:rem-calc(80);
    color:#626566;
}

