// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#earnSetIntroduction {
  padding-bottom:rem-calc(42);

  @import "./Summary";
  @import "./RuleDescription";
  @import "./ComparisonChart";

  .tabs {
    margin-top:0;
    margin-bottom:0;
    padding-top:rem-calc(50);
    background-color:transparent;

    .tabs-body .tab-panel{
      padding:0;
    }

    .tabs-nav {
      margin-bottom:-1px;
      padding:rem-calc(5) rem-calc(15);
      border-top:1px solid $separation-line-color;
      border-bottom:1px solid $separation-line-color;
      background:#fff;
      position:absolute;
      top:40px;
      left:0;
      z-index:999;

      .btn-sm {
        @include color-and-fontSize($C3,$T5);
      }
    }

    .btn-hollow.btn-primary {
      border:none;
      color:$C3;

      &.active {
        background:#fff;
        color:$C1;
      }
    }

    table {
      background:#fff;
    }

    td.title {
      width:25%;
      text-align:left;
      @include color-and-fontSize($C3,$T7);
      @media screen and (max-width:320px){
        width:30%;
        padding-right:0;
      }
    }

    td.content {
      text-align:left;
      @include color-and-fontSize($C4,$T7);
    }

    .group {
      h6 {
        margin-bottom:rem-calc(10);
        @include color-and-fontSize($C3,$T7);
        font-weight:normal;
      }

      .content {
        @include color-and-fontSize($C4,$T8);
        text-align: justify;
      }
    }
  }

  .popup {
    padding-bottom:rem-calc(45);
  }
  .popup-header {
    z-index:9999;
  }
  .popup-body {
    padding:0;
  }

  @import "./CheckMoreDetailBar";

  .summary {
    .yearRate {
      position:relative;

      .rewardRate {
        display:block;
        line-height:1.5;
        @include color-and-fontSize($C1,rem-calc(14));
        position:absolute;
        top:0;
        right:22%;
      }
    }
  }

  .share-guide-img {
    display:inline-block;
    width:50%;
    height:auto;
    position:absolute;
    top:rem-calc(10);
    right:rem-calc(10);
  }
}