// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#earnSetIntroduction {
  padding-bottom:rem-calc(42);

  /*简要介绍组件*/
  .summary {
    margin-top:0;
    position:relative;

    .tag {
      display:block;
      height:rem-calc(24);
      background-size:cover;
      position:absolute;
      left:0;
      top:-1px;

      &.newbieLoan-tag {
        width:rem-calc(127);
        background-image: url("../../img/month_noviceexclusive.png");
      }

      &.dailyEarn-tag {
        width:rem-calc(107);
        background-image: url("../../img/day_label.png");
      }
    }
    .subtitle {
      margin-top:rem-calc(5);
      text-align: center;
      @include color-and-fontSize($C4,$T7);
    }
    .yearRate {
      height:rem-calc(70);
      line-height:rem-calc(70);
      margin-top:rem-calc(10);
      text-align: center;

      .amount {
        @include color-and-fontSize($C1,$T12);
      }

      .unit {
        @include color-and-fontSize($C1,$T13);
      }
    }

    .slogan {
      margin-top:rem-calc(12);
    }

    .label {
      height:rem-calc(14);
      line-height:rem-calc(14);
      display: flex;
      justify-content: center;
      margin-top:rem-calc(15);
      margin-bottom:rem-calc(15);
      @include color-and-fontSize($C3,$T7);

      .label-item {
        display:inline-block;
        padding:0 rem-calc(12);
        border-right:1px solid $separation-line-color;

        &:last-child {
          border-right:none;
        }
      }
    }

    .footer {
      margin-top:rem-calc(0);
      margin-bottom:rem-calc(0);
      text-align:center;
      @include color-and-fontSize($C3,$T7);
    }
  }
  .fixedLoan.summary {
      .title,.amount,.unit {
        text-align:center;
        @include color-and-fontSize($C1,$T5);
      }
      .subtitle {
        margin-bottom:rem-calc(10);
        @include color-and-fontSize($C4,$T9);
      }

      .slogan {
        margin-bottom:0;
      }
  }

  /*规则描述组件*/
  .rule-description {
    ul {
      padding:0;
      margin:0;
      list-style: none;

      li {
        display:flex;
        align-items: center;
        height:rem-calc(18);
        line-height: rem-calc(18);
        margin-bottom:rem-calc(5);
        @include color-and-fontSize($C4,$T8);

        &:last-child {
          margin-bottom:0;
        }

        span {
          display:inline-block;
          width:rem-calc(18);
          height:rem-calc(18);
          margin-right:rem-calc(5);
          background-size: cover;

          &.icon-benefit {
            background-image: url("../../img/month_icon_earnings.png");
          }

          &.icon-apply {
            background-image: url("../../img/month_icon_apply.png");
          }

          &.icon-limit {
            background-image: url("../../img/month_icon_limit.png");
          }
        }
      }
    }
  }

  /*产品收益对比图*/
  .comparison-chart {
    .subtitle {
      margin:0;
      margin-bottom:rem-calc(10);
      font-weight: normal;
      @include color-and-fontSize($C4,$T8);
    }
    .content {
      margin-top:rem-calc(10);
      &.dailyEarn {
        width:rem-calc(289);
        height:rem-calc(117);
        background-image: url("../../img/day_form.png");
        background-size: cover;
      }
      .content-item {
        display:flex;
        align-items: center;
        @include color-and-fontSize($C3,$T7);

        strong {
          @include color-and-fontSize($C1,$T7)
        }

        .label {
          width:rem-calc(65);
          margin-right:rem-calc(5);
        }
      }
    }
  }


  .tabs {
    margin-top:0;
    margin-bottom:0;
    padding-top:rem-calc(50);
    background-color:transparent;

    .tabs-body .tab-panel{
      padding:0;
    }

    .tabs-nav {
      margin-bottom:-1px;
      padding:rem-calc(5) rem-calc(15);
      border-top:1px solid $separation-line-color;
      border-bottom:1px solid $separation-line-color;
      background:#fff;
      position:absolute;
      top:40px;
      left:0;
      z-index:999;

      .btn-sm {
        @include color-and-fontSize($C3,$T5);
      }
    }

    .btn-hollow.btn-primary {
      border:none;
      color:$C3;

      &.active {
        background:#fff;
        color:$C1;
      }
    }

    table {
      background:#fff;
    }

    td.title {
      width:25%;
      text-align:left;
      @include color-and-fontSize($C3,$T7);
    }

    td.content {
      text-align:left;
      @include color-and-fontSize($C4,$T7);
    }

    .group {
      h6 {
        margin-bottom:rem-calc(10);
        @include color-and-fontSize($C3,$T7);
        font-weight:normal;
      }

      .content {
        @include color-and-fontSize($C4,$T8);
        text-align: justify;
      }
    }
  }

  .popup-header {
    z-index:9999;
  }
  .popup-body {
    padding:0;
  }

}