// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";



#home {
  padding-bottom:rem-calc(55);

  .registerToZX-bar-wrapper {
    position:absolute;
    left:0;
    top:rem-calc(25);
    width:100%;
    height:rem-calc(35);
    padding:0 rem-calc(15);
    z-index:999;
  }
  .registerToZX-bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:100%;
    padding:0 rem-calc(10);
    @include color-and-fontSize($C3,$T8);
    background-color: #fff8f2;
    border-radius: rem-calc(4);

    .left {
      display:flex;
      align-items: center;
      justify-content: flex-start;

      &>span {
        display:block;
      }

      .imgIcon-red-shield {
        width:rem-calc(15);
        height:rem-calc(15);
        margin-right:rem-calc(3);
      }
    }

    .right {
      &>a {
        @include color-and-fontSize($C1,$T8);
        text-decoration: none;
      }
    }
  }

  .modal-customize {
    width:rem-calc(300);
    height:rem-calc(356);

    .modal-inner {
      background-color: transparent;
    }

    .redbag-wrapper {
      width:rem-calc(300);
      height:rem-calc(356);
      background:url("../../img/popupRedbag.png");
      background-size: cover;
    }
  }

  .platform-introduction-bar {
    background:url("../../img/btn_shading@2x.png");
    background-size: cover;

    .group-body {
      background: none;
    }

    .platform-introduction-wrapper {
      display:flex;
      align-items: center;
      justify-content: space-between;
      @include color-and-fontSize($C3,$T8);

      &>div {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img-wrapper-cell {
          display:inline-block;
          width:rem-calc(40);
          height:rem-calc(40);
          margin-bottom:rem-calc(5);

          &.data-cell {
            background:url("../../img/btn_date@2x.png");
            background-size: cover;
          }

          &.gift-cell {
            background:url("../../img/btn_share@2x.png");
            background-size: cover;
          }

          &.newbieGuide-cell {
            background:url("../../img/btn_newer@2x.png");
            background-size: cover;
          }

          &.safe-cell {
            background:url("../../img/btn_safety@2x.png");
            background-size: cover;
          }
        }
      }

    }

  }

  .home-group-header {
    display:flex;
    align-items: center;
    height:rem-calc(50);
    line-height: rem-calc(50);
    margin-left:rem-calc(-15);
    padding-left:rem-calc(15);
    @include color-and-fontSize(#333,rem-calc(16));
    border-bottom:1px solid #f1f1f1;

    &>span {
      display:block;
      margin-right:rem-calc(3);
    }

    .imgIcon-product-recommend,
    .imgIcon-product-hot {
      @include size(rem-calc(17),rem-calc(17));
    }
  }

  .home-product-list {
    .group-body {
      padding:0 0 0 rem-calc(15);

      &>a:last-child .home-card {
        border:none;
      }

     
    }
  }

  .hot-topic-bar {
    .group-body {
      padding:0 0 rem-calc(15);

      .home-group-header {
        margin-left:0;
        padding:0 rem-calc(15);
        border:none;

        .title {
          margin-right:auto;
          @include color-and-fontSize(#000,rem-calc(14));
        }
      }
    }

    .hot-topic-list {
      a {
        display:block;
        margin-bottom:rem-calc(15);

        &:last-child {
          margin-bottom:0;
        }
      }
    }

    .hot-topic-more {
      @include color-and-fontSize(#999,rem-calc(14));
    }
  }

  /*标的卡片*/
  $home-card-primay:#f6313c;
  .home-card {
    padding:rem-calc(20) 0;
    border-bottom:1px solid #f1f1f1;
    position:relative;
    //@include point5Line(bottom);//todo how to remove the last .home-card::after?
   

    .home-card-item {

      .title {
        height:rem-calc(35);
        line-height: rem-calc(35);
        @include color-and-fontSize($C3,$T4);

        .product-badge {
          margin-left:rem-calc(10);
          @include color-and-fontSize(#cd9b56,$T8);
        }
      }

      .subtitle {
        height:rem-calc(20);
        line-height: 1;
        display:flex;
        align-items: flex-end;

        .label {
          margin-right:rem-calc(6);
        }

        .productName {
          display:block;
          @include color-and-fontSize(#666,rem-calc(12));
        }

        .productRate {
          display:block;          
          @include color-and-fontSize(#666,rem-calc(12));
        }
      }


     
      .yearRate {
        height:rem-calc(30);
        line-height: rem-calc(30);
        @include color-and-fontSize($home-card-primay,rem-calc(25));

        .unit {
          @include color-and-fontSize($home-card-primay,$T8);
        }

        .rewardRate {
          margin-left:rem-calc(2);
          @include color-and-fontSize($home-card-primay,rem-calc(12));
        }
      }

      .deadline {
        height:rem-calc(30);
        line-height: rem-calc(30);
        @include color-and-fontSize(#333,rem-calc(12));
      }

      .remainAmount {
        height:rem-calc(20);
        line-height: 1;
        display:flex;
        align-items: flex-end;
        @include color-and-fontSize(#999,rem-calc(12));

        strong {
          @include color-and-fontSize($home-card-primay,rem-calc(16));
          font-weight: normal;
        }
      }

      


      .soldOut-btn {
        display:inline-block;
        height:rem-calc(18);
        line-height: rem-calc(18);
        width:auto;
        padding:0 rem-calc(8);
        @include color-and-fontSize(#e6b980,rem-calc(12));
        border:1px solid #e6b980;
        border-radius:rem-calc(3);
        box-sizing: content-box;
      }
    }
    .vip-rate {
      height:rem-calc(20);
      padding:0 rem-calc(5) 0 rem-calc(11);
      @include color-and-fontSize(#fff,rem-calc(12));
      line-height:rem-calc(21);
      background-image:url("../../img/vipRate-bg.png");
      background-size:cover;
      position:absolute;
      top:-1px;
      right:0;
    }
  }



  .home-dashboard {
    padding-bottom:rem-calc(15);

    .title {
      @include color-and-fontSize(#b7b7b7,$T8);
    }

    .amount {
      height:rem-calc(35);
      line-height:rem-calc(35);
      margin-top:rem-calc(10);
      color:#b7b7b7;
      font-size:rem-calc(35);
    }

    .home-slogan-wrapper {
      width:rem-calc(146);
      height:rem-calc(24);
      margin:0 auto;
      background-color:#fff;
      border-radius: rem-calc(12);

      .slogan {
        width:100%;
        height:100%;
      }
    }

  }

}
#homeNotification {
  width:100%;
  padding:rem-calc(15);
  background:url("../../img/downloadApp-bg.jpg");
  background-size: cover;
  box-shadow: 0 2px 10px #ededed;

  .logo-wrapper {
    display:flex;
    align-items: center;
    justify-content: flex-start;


    .downloadAppGuide-logo {
      width:rem-calc(164);
      height:rem-calc(23);
      background:url("../../img/downloadApp-logo2.png");
      background-size: cover;
    }

    .download-btn {
      display:block;
      height:rem-calc(25);
      line-height: rem-calc(27);
      width:auto;
      margin-left:rem-calc(10);
      margin-right:auto;
      padding:0 rem-calc(10);
      @include color-and-fontSize(#fff,rem-calc(14));
      background:#e7594d;
      border-radius: rem-calc(13);
    }

    .icon-close {
      display:block;
      @include color-and-fontSize($C1,rem-calc(25));
    }

  }


  .downloadAppGuide-slogan {
    margin-top:rem-calc(5);
    @include color-and-fontSize(#625656,rem-calc(16));

    &>span {
      margin-right:rem-calc(10);
    }

  }
}





