// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

//animation
@import "../helper/animation";

.InvestmentRecord-card {


  &:last-child {
    margin-bottom:0;
  }

  .group-body {
    padding-bottom:0;
    position:relative;
  }
  .title {
    @include color-and-fontSize($C3,$T6);
    font-weight: normal;
  }
  .subtitle {
    @include color-and-fontSize($C4,$T11);
  }
  .number {
    @include color-and-fontSize($C3,$T6);

    strong {
      font-weight: normal;
      color:$C1;
    }
  }

  .tag-transfer,
  .tag-transfered {
    display:inline-block;
    width:rem-calc(40);
    height:rem-calc(40);
    background-size: cover;
    position:absolute;
    top:-1px;
    right:0;
  }
  .tag-transfer {
    background-image: url("../../img/icon_label_transfer.png");
  }
  .tag-transfered {
    background-image: url("../../img/icon_label_transfered.png");
  }

  .stamp-img {
    height:rem-calc(40);
    width:auto;
  }

  .header {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    margin-bottom:rem-calc(10);

    &>span {
      display:block;
    }

    .tag-icon {
      display: block;
      margin-left:rem-calc(5);
      padding: 2px 5px;
      color: #cd9b57;
      font-size: 0.75rem;
      border: 1px solid #cd9b57;
    }

    button {
      margin:0;
      margin-left:auto;
      padding:rem-calc(8);
      border-radius:rem-calc(2);
    }
  }
  .body {
    margin-bottom:rem-calc(10);
  }
  .footer {
    padding:rem-calc(5) 0;
    @include color-and-fontSize($C4,$T10);
    border-top:1px dashed $separation-line-color;

    .pay-modal {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}