// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";
#productList {
  padding-bottom:rem-calc(55);

  &.loading {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    width:0;
  }
  .tabs {
    margin-top:0;

    .tabs-body .tab-panel{
      padding:0;
    }

    .tabs-nav {
      margin-bottom:-1px;
      padding:rem-calc(10) rem-calc(15);
      border-top:1px solid $separation-line-color;
      border-bottom:1px solid $separation-line-color;

      .btn-sm {
        @include color-and-fontSize($C3,$T5);
      }
    }

    .btn-hollow.btn-primary {
      border:none;
      color:$C3;

      &.active {
        background:#fff;
        color:$C1;
      }
    }

    td.title {
      width:25%;
      @include color-and-fontSize($C3,$T7);
    }

    td.content {
      @include color-and-fontSize($C4,$T7);
    }
  }

  .transfer-card {
    .group-body {
     padding-top:rem-calc(25);
     padding-bottom:rem-calc(25);
     background-image:url("../../img/bg_zhaiquan@2x.png") ;
     background-size:cover;
    }


    .imgIcon-zzlc {
      display:inline-block;
      width:rem-calc(18);
      height:rem-calc(18);
      margin-right: rem-calc(6);
    }

    .transfer-title {
      display:flex;
      align-items: center;
    }

    .transfer-count {
      padding-left:rem-calc(18);

      strong {
        color:$C1;
      }
    }
  }

  .checkMore-button {
    display:inline-block;
    margin:rem-calc(15) auto rem-calc(30);
    padding:rem-calc(5) rem-calc(8);
    text-align:center;
    @include color-and-fontSize(#cd9b57,$T8);
    border:1px solid #cd9b57;
    border-radius:rem-calc(2);
  }

  .loadingImg-wrapper {
    @include color-and-fontSize(#666,rem-calc(14));

    .loading-img {
      width:rem-calc(50);
      height:auto;
    }
  }

}




