// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

.progressBar {
  display:inline-block;
  width:100%;
  height:rem-calc(4);
  background-color:#ddd;
  border-radius: rem-calc(2);
  position:relative;

  .progressBar-body {
    width:0;
    height:100%;
    border-radius: rem-calc(2);
    background-color:$C1;
    transition:width 0.2s ease-in-out;
  }
  .progress-percent {
    display:inline-block;
    @include color-and-fontSize($C3,$T10);
    position:absolute;
    top:-17px;
    right:0;
  }
}