// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#quitFromMoonLoanSuccess {

  .group-body {
    padding-bottom:0;
  }
  .icon-success-yellow {
    display:block;
    width:rem-calc(50);
    height:rem-calc(50);
    margin:rem-calc(20) auto 0;
    background-image: url("../../img/icon_right_yellow.png");
    background-size: cover;
  }

  .title {
    margin-top:rem-calc(20);
    text-align:center;
    @include color-and-fontSize($C3,$T4);
  }

  .subtitle {
    margin-top:rem-calc(5);
    margin-bottom:rem-calc(20);
    text-align:center;
    @include color-and-fontSize($C4,$T8);
  }

  strong {
    color:$C1;
  }

  .quit-date {
    height:rem-calc(50);
    line-height: rem-calc(50);
    text-align: center;
    border-top:1px dashed #e5e5e5;
    @include color-and-fontSize($C4,$T6);
  }
}