// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#realNameAuthentication {
  .warm-hint {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:rem-calc(5);
    padding:0 rem-calc(15);
    @include color-and-fontSize($C4,$T10);

    &>span {
      display:block;
    }

    .imgIcon-attention {
      width:rem-calc(20);
      height:rem-calc(20);
    }
  }
}