// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

/*规则描述组件*/
.rule-description {
  ul {
    padding:0;
    margin:0;
    list-style: none;

    li {
      display:flex;
      align-items: center;
      height:rem-calc(18);
      line-height: rem-calc(18);
      margin-bottom:rem-calc(5);
      @include color-and-fontSize($C4,$T8);

      &:last-child {
        margin-bottom:0;
      }

      span {
        display:inline-block;
        width:rem-calc(18);
        height:rem-calc(18);
        margin-right:rem-calc(5);
        background-size: cover;

        &.icon-benefit {
          background-image: url("../../img/month_icon_earnings.png");
        }

        &.icon-apply {
          background-image: url("../../img/month_icon_apply.png");
        }

        &.icon-limit {
          background-image: url("../../img/month_icon_limit.png");
        }

        &.icon-advanceLoan {
          background-image: url("../../img/advanceLoan-flag.png");
        }
      }
    }
  }
}