// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

/*简要介绍组件*/
.summary {
  margin-top:0;
  position:relative;

  .tag {
    display:block;
    height:rem-calc(24);
    background-size:cover;
    position:absolute;
    left:0;
    top:-1px;

    &.newbieLoan-tag {
      width:rem-calc(100);
      height:rem-calc(28);
      background-image: url("../../img/month_noviceexclusive.png");
    }

    &.dailyEarn-tag {
      width:rem-calc(107);
      background-image: url("../../img/day_label.png");
    }
  }

  .yearRate-title {
    position:relative;

    .vip-rate {
      height:rem-calc(20);
      padding:0 rem-calc(5) 0 rem-calc(11);
      @include color-and-fontSize(#fff,rem-calc(12));
      line-height:rem-calc(21);
      background-image:url("../../img/vipRate-bg.png");
      background-size:cover;
      position:absolute;
      top:-2px;
      left:50%;
      margin-left:rem-calc(30);
    }
  }

  .subtitle {
    margin-top:rem-calc(5);
    text-align: center;
    @include color-and-fontSize($C4,$T7);
  }
  .yearRate {
    height:rem-calc(70);
    line-height:rem-calc(70);
    margin-top:rem-calc(10);
    text-align: center;

    .amount {
      @include color-and-fontSize($C1,$T12);
    }

    .unit {
      @include color-and-fontSize($C1,$T13);
    }
  }

  .slogan {
    margin-top:rem-calc(12);
  }

  .label {
    height:rem-calc(14);
    line-height:rem-calc(14);
    display: flex;
    justify-content: center;
    margin-top:rem-calc(15);
    margin-bottom:rem-calc(15);
    @include color-and-fontSize($C3,$T7);

    .label-item {
      display:inline-block;
      padding:0 rem-calc(12);
      border-right:1px solid $separation-line-color;

      &:last-child {
        border-right:none;
      }
    }
  }

  .rulesTag-list {
    margin-bottom:rem-calc(25);
    position:relative;

    .rulesTag {
      display:inline-block;
      width:auto;
      height:rem-calc(16);
      margin-right:rem-calc(10);
      padding:0 rem-calc(10);
      line-height:rem-calc(18);
      text-align: center;
      @include color-and-fontSize(#cd9b57,rem-calc(10));
      border:1px solid #cd9b57;
      border-radius:rem-calc(26);

      &:last-child {
        margin-right:0;
      }
    }

    .imgIcon-grey-questionMark {
      display:block;
      width:rem-calc(40);
      height:rem-calc(40);
      position:absolute;
      top:rem-calc(-8);
      right:rem-calc(-10);
    }
  }

  .footer {
    margin-top:rem-calc(0);
    margin-bottom:rem-calc(0);
    text-align:center;
    @include color-and-fontSize($C3,$T7);
  }
}

