// Functions
@import "../helper/functions";

// Variables
@import "../variables";

// Mixin
@import "../helper/mixins";

#userHome {
  padding-bottom:rem-calc(55);


  .dashboard {
    margin-top:0;
    background-color:#fff;

    .dashboard-header {
      height:rem-calc(44);
      padding:0 rem-calc(10);
      border-bottom:1px solid #eee;

      .left,
      .right {
        height:100%;
        display:flex;
        align-items: center;

        &>span {
          display:block;
        }
      }

      .left {
        &>span {
          width:rem-calc(28);
          height:rem-calc(28);
          margin-right:rem-calc(5);
        }

        .phone-number {
          width:auto;
        }
      }

      .right {
        &>span {
          width:rem-calc(44);
          height:rem-calc(44);
        }

        .imgIcon-my-letter {
          margin-right:rem-calc(-10);
        }
      }
    }
    .dashboard-body {
      margin:rem-calc(10) rem-calc(10) 0;
      padding:rem-calc(15);
      border-radius:rem-calc(5);
      //background-image:linear-gradient(to bottom right,#dd393c,#fa6f68);
      background-image:url("../../img/bg_assets@2x.png");
      background-size:cover;

      .header {
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom:rem-calc(30);

        .total-property {
          .icon-right-nav {
            font-size:rem-calc(12)
          }
        }

        .openZX-flag {
          display:flex;
          align-items: center;

          &>span {
            display:block;

            &.imgIcon {
              width:rem-calc(16);
              height:rem-calc(16);
              margin-right:rem-calc(2);
            }

            &.imgIcon-my-openZX-off + span {
              color:#eeb668;
            }

            &.title {
              height:rem-calc(20);
              line-height: rem-calc(23);
            }
          }
        }
      }
      .footer {
        display:flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .dashboard-footer {
      .col-3 {
        height:rem-calc(60);
        display:flex;
        align-items: center;
        justify-content: center;
        @include color-and-fontSize($C3,$T7);

        & > span {
          display:block;

          &.imgIcon {
            width:rem-calc(40);
            height:rem-calc(40);
            margin-right:rem-calc(10);
          }
        }

      }
    }

    .title {
      @include color-and-fontSize(#fff,$T9);
    }
    .amount {
      line-height:1;
      @include color-and-fontSize(#fff,rem-calc(20));

      strong {
        font-weight: normal;
        @include color-and-fontSize(#fff,rem-calc(30));
      }
    }
    .phone-number {
      @include color-and-fontSize($C3,$T4);
    }


  }
  .investmentRecord-entry {
    border-top:1px solid $separation-line-color;
    border-bottom:1px solid $separation-line-color;

    .investmentRecord-entry-item {
      padding:rem-calc(5) 0;
      border-right:1px solid $separation-line-color;

      & > a {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      }

      &:last-child {
        border:none;
      }

      .imgIcon {
        width:rem-calc(35);
        height:rem-calc(35);
      }

      .title {
        @include color-and-fontSize($C3,$T7);
      }

      .subtitle {
        @include color-and-fontSize($C5,$T10);

        strong {
          color:$C1;
        }
      }

      &>a>span {
        display: block;
      }
    }
  }

  .list {
    margin:rem-calc(15) 0;

    strong {
      color:$C1;
    }

    .imgIcon-share-coupon {
      height:rem-calc(25);
      width:rem-calc(60);
    }
  }

  .registerZX-entry-wrapper {
    margin-top:rem-calc(10);

    .registerZX-entry {
      width:rem-calc(150);
      margin:0 auto;
      padding:rem-calc(2) 0;
      display:flex;
      justify-content: center;
      align-items: center;
      border:1px solid #e4ba2a;
      border-radius:rem-calc(14);

      .imgIcon {
        width:rem-calc(20);
        height:rem-calc(20);
        margin:0;
      }

      &>span {
        display:block;
        margin-left:rem-calc(3);
        @include color-and-fontSize($C9,$T10);
      }
    }
  }

}
