// Functions
@import "../../helper/functions";

// Variables
@import "../../variables";

// Mixin
@import "../../helper/mixins";

#fruitStory {
  padding:rem-calc(10);

  .tabs-nav {
    margin-bottom:rem-calc(10);
    padding:0;
    border:none;
    border-radius:rem-calc(5);
    overflow:visible;

    .slide-line {
      display:none;
    }

    .btn-hollow.btn-primary {
      border:none;
      color:$C1;
      overflow:visible;

      &.active {
        background:$C1;
        color:#fff;
      }
    }

    .btn-hollow:first-child {
      border-radius:rem-calc(5) 0 0 rem-calc(5);
    }

    .btn-hollow:nth-of-type(3) {
      border-radius: 0 rem-calc(5) rem-calc(5) 0;
    }
  }

  .tabs-body {
    img.responsive {
      margin:rem-calc(10) 0;

      &:first-child {
        margin-top:0;
      }

    }

    img.responsive + img.responsive {
      margin-top:0;
    }

    .content {
      text-indent: rem-calc(28);
      @include color-and-fontSize(#333,rem-calc(14));
    }
  }

}